<script src="app/menus/proceso/ctrMercadoInterno.js"></script>
﻿<div id="crtPaletizar" data-role="page" ng-controller="ctrMercadoInterno">
   <div class="container">
        <div class="box-embalajes">
            <div class="datos-productor">
                <div class="productor-heredado" id="embalajePakingNombre_Codigo">{{dataSeleccion.nombreProductor}}</div>
            </div>
            <!--  KILOS ACUMULADOS  -->
            <div class="kilos-lote-packing">
                <div class="acumulados-lote-proceso">
                    <h2>Lote Proceso</h2>
                    <p id="loteProcesoPaking_1">{{dataSeleccion.loteProceso}}</p>
                </div>
                <div class="acumulados-lote-proceso">
                    <h2>Variedad</h2>
                    <p id="loteProcesoPaking_1">{{dataSeleccion.variedad}}</p>
                </div>
                <div class="acumulados-packing">
                    <h2>Kg Total:</h2>
                    <p id="kiloAcumuladoPaking_1">{{dataSeleccion.totalKilo}}</p>
                </div>
            </div>
            <!--  KILOS ACUMULADOS  -->
            <!--  TAB CONTAINER  -->
            <div class="tab-container">
                <!--**********************  TAB POR MATERIAL  **********************-->
                <div class="tab-embalajes" id="div_tab_embalajePaking">
                    <!--**** ROW ****-->
                    <div class="row">
                        <div class="hgroup">Ingrese datos para Mercado Interno</div>
                        <!-- FECHA EMBALAJE -->
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <h3>Fecha Contabilización</h3>
                            <select class="inp-default inp-fecha ng-pristine ng-valid ng-touched" ng-model="datosMI.selFechaContabilizacion" ng-options="item as item.name for item in selFechaContabilizacionOpciones track by item.value">
                                <option value="" class="">Seleccionar</option>
                            </select>
                        </div>
                        <!-- LOTE -->
                        <div class="col-xs-8 col-sm-4 col-md-4">
                            <h3>Material</h3>
                            <select class="inp-default" ng-model="datosMI.material" ng-change="controlDescarte()" ng-options="item as item.MAKTG for item in listarMaterial track by item.MATNR">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-3">
                            <h3>Cantidad</h3>
                            <div class="box-inp-tabs">
                                <input class="inp-default" ng-change="controlDescarte()" ng-model="datosMI.cantidad" type="number" placeholder="Cantidad" />
                            </div>
                        </div>
                    <!-- FECHA EMBALAJE -->
                    <div class="clearfix"></div>
                    <div class="border-grey"></div>
                    <div class="clearfix"></div>
                    <!-- EMBALAJE Y MERCADO -->
                    <div class="col-xs-4 col-sm-3 col-md-3">
                        <h3>Cantidad Envase</h3>
                        <div class="box-inp-tabs">
                            <input class="inp-default"  ng-model="datosMI.cantidadEnvase" type="number" placeholder="Cantidad" />
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-4 col-md-4" style="display:{{clienteSeleccion}}">
                        <h3>Cliente</h3>
                        <select class="inp-default" ng-model="datosMI.cliente" ng-options="item as item.DESCRIPTION for item in CLIENTE track by item.VALUE_CHAR">
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <h3>Tipo Envase</h3>
                        <select class="inp-default" ng-model="datosMI.tipoBins" ng-change="controlDescarte()" ng-options="item as item.MAKTG for item in listarMaterialZVER track by item.MATNR">
                            <option value="">Seleccionar</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3" style="{{campoCarozo}}">
                        <h3>Calibre</h3>
                        <select class="inp-default inp-fecha ng-pristine ng-valid ng-touched" ng-model="datosMI.calibre" ng-options="item as item.DESCRIPTION for item in listarCalibre track by item.VALUE_CHAR">
                            <option value="" class="">Seleccionar</option>
                        </select>
                    </div>
                    <!-- KILOS -->
                </div>
                    
                </div>
                <!--**** ROW ****-->
            </div>
            <!--**********************  TAB POR MATERIAL  **********************-->
            <div class="clear"></div>
        </div>
        <!--  TAB CONTAINER  -->
        <!-- /CONTENT -->
        <!-- FOOTER -->
        <div class="footer">
            <!-- inicia BOX MOBILE -->
            <div class="mobile-full">
                <div id="btnContinuar_" class="btn btn-center" ng-click="embalajePakingContinuar()">CONTINUAR</div>
            </div>
            <!-- end BOX MOBILE -->
        </div>
        <!-- /FOOTER -->
    </div>
    <div id="PACK_EnvioCajaEmbalada" class="PopUp" data-role="page" style="display:{{verPopRespuesta}}">
        <div id="envioCajaEnvaladaPOP" class="popup-sap">
            <!-- CLOSED-->
            <!--<div class="cerrar-popup" onClick="cerrarPopup('PROD_EnvioCajaEmbalada', 'envioCajaEnvaladaPOP')"></div>
             CLOSED -->
            <!-- HEADER POP-UP -->
            <div class="header-popup">
                <h1>Respuesta SAP</h1>
            </div>
            <!-- HEADER POP-UP -->

            <!-- AQUI SE CARGARAN LOS MERCADOS -->
            <div id="cargandoDatosSAP" class="LoadingMercados">
                <h1>Enviando datos</h1>
                <div id="loadingCajaEmabalda" class="animarLoading">
                    <ul class="bokeh"><li></li><li></li><li></li><li></li></ul>
                </div>
            </div>
            <!-- AQUI SE CARGA mensaje no encontrado  ercados -->
            <div id="popRespuestaEnvioCajaEmbalada"></div>

            <div class="clearfix"></div>
            <!-- FOOTER -->
            <div class="footer">
                <!-- inicia BOX MOBILE -->
                <div class="mobile-full">
                    <div class="btn btn-center" id="btnContinuar_" style="display:{{btnContinuar}}" ng-Click="goToPage('/menuProceso')">ACEPTAR</div>
                    <div class="btn btn-center" id="btnError" style="display:none" ng-Click="navegacionPagina('PACK_MenuPacking', 'fadeInLeft', '')">VOLVER</div>
                </div>
                <!-- end BOX MOBILE -->
            </div>
            <!-- /FOOTER -->
        </div>
    </div>
</div>   
 