<script src="app/menus/recepcion/galeria/PantallaJS.js"></script>
<div class="{{page.animation}}" id="MenuInicial" ng-controller="pantalla">
     <div class="hgroup">Pantalla {{pantalla}} , IP {{ip}}</div>
    <div style=" width: 50%; float: left">
        <div style="float: left;width: 50%; border:1px solid green"><img src="{{url}}" style="width:100%;height: 100%" ng-click=""/></div>
        <div style="float: left;width: 50%; border:1px solid green"><img src="{{url}}" style="width:100%;height: 100%" ng-click=""/></div>
        <div style="float: left;width: 50%; border:1px solid green"><img src="{{url}}" style="width:100%;height: 100%" ng-click=""/></div>
        <div style="float: left;width: 50%; border:1px solid green"><img src="{{url}}" style="width:100%;height: 100%" ng-click=""/></div>
    </div>
   <div style=" width: 50%; float: left">
        <div style="float: left;width: 50%; border:1px solid red"><img src="{{url}}" style="width:100%;height: 100%" ng-click=""/></div>
        <div style="float: left;width: 50%; border:1px solid red"><img src="{{url}}" style="width:100%;height: 100%" ng-click=""/></div>
        <div style="float: left;width: 50%; border:1px solid red"><img src="{{url}}" style="width:100%;height: 100%" ng-click=""/></div>
        <div style="float: left;width: 50%; border:1px solid red"><img src="{{url}}" style="width:100%;height: 100%" ng-click=""/></div>
   </div>
</div>   
    

