<script src="app/preProceso/existente/crtProcesoExistente.js"></script>
﻿<div id="PACK_Embalajes" data-role="page" ng-controller="crtPACK_EmbalajesProcesoEspeciePP">
    <!-- HEADER -->
    <div class="header">
        <div class="nav-back" ng-click="navegacionPagina('PACK_FiltroProductor'+controllerMenu, 'fadeInLeft', '')">
            <p>Volver</p>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li>{{datosExportadora.exportadora.DESCRIPTION}}</li>
                <li>{{nombreMenuPagina}}</li>
                <li>{{TIPONOTIFICACION}}</li>
                <li>{{datosExportadora.especie.DESCRIPTION}}</li>
            </ul>
        </div>
    </div>
    <!-- /HEADER -->
    <!-- CONTENT -->
    <div class="container">
        <div class="box-embalajes">
            <div class="datos-productor">
                <div class="productor-heredado" id="embalajePakingNombre_Codigo">{{datoProductorDetalle.NAME1}}</div>
                <div class="fecha-heredado" id="embalajePakingFechaContabiliza">{{datosLoteProcesoPaking.selFechaContabilizacion.name}}</div>
            </div>
            <!--  KILOS ACUMULADOS  -->
            <div class="kilos-lote-packing">
                <div class="acumulados-lote-proceso">
                    <h2>Lote Proceso</h2>
                    <p id="loteProcesoPaking_1">{{datosLoteProcesoPaking.embalajeLoteProcesoPaking}}</p>
                </div>
                <div class="acumulados-lote-proceso">
                    <h2>Variedad</h2>
                    <p id="loteProcesoPaking_1">{{datosLoteProcesoPaking.VARIEDAD}}</p>
                </div>
                <div class="acumulados-lote-proceso">
                    <h2>Productor</h2>
                    <p id="loteProcesoPaking_1">{{datosLoteProcesoPaking.nombreProductor}}</p>
                </div>
                <div class="acumulados-packing">
                    <h2>Kg Total:</h2>
                    <p id="kiloAcumuladoPaking_1">{{datosLoteProcesoPaking.kgLoteProcesoSaldo}}</p>
                </div>
            </div>
            <!--  KILOS ACUMULADOS  -->
            <!--  TAB CONTAINER  -->
            <div class="tab-container">
                <!--**********************  TAB POR MATERIAL  **********************-->
                <div class="tab-embalajes" id="div_tab_embalajePaking">
                    <!--**** ROW ****-->
                    <div class="row">
                        <div class="hgroup">Ingrese datos para este embalaje</div>
                        <!-- FECHA EMBALAJE -->
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <h3>Fecha embalaje</h3>
                            <div class="box-inp-tabs">
                                <input id="fechaEmbalagePakingTab" class="inp-default inp-tab-fecha" type="text" placeholder="Seleccionar" />
                                <input ng-model="datosLoteProcesoPaking.detalle[idxTab].fechaEmbalagePakingTab" type="hidden" />
                            </div>
                        </div>
                        <!--<div class="col-xs-6 col-sm-6 col-md-6">
                            <h3>Numero de exportación</h3>
                            <input class="inp-default" ng-model="datosLoteProcesoPaking.detalle[idxTab].numExportacion" type="text" id="pakingGuia" placeholder="Nº" maxlength="10"/>
                        </div>
                        <!--<div class="col-xs-6 col-sm-6 col-md-6">
                            <h3>Cajas</h3>
                            <input class="inp-default" type="text" id="pakingGuia" placeholder="Nº" />
                        </div>-->
                        
                        
                    </div>
                    <!-- FECHA EMBALAJE -->
                    <div class="clearfix"></div>
                    <div class="border-grey"></div>
                    <div class="clearfix"></div>
                    <!-- EMBALAJE Y MERCADO -->
                    <div style="float:left;">
                        <div class="scan" ng-click="codearEmbalaje()"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5">
                            <h3>Material</h3>
                            <select class="inp-default" ng-model="datosLoteProcesoPaking.detalle[idxTab].material" ng-change="controlDescarte()" ng-options="item as item.MAKTG for item in pakingTipoMaterialOpciones track by item.MATNR">
                                <option value="">Seleccionar</option>
                            </select>
                    </div>
                    <!--<div class="col-xs-8 col-sm-4 col-md-3">
                        <h3 id="tit">Embalaje</h3>
                        <div class="box-inp-tabs">
                            <input id="embalajeBarTab"  ng-keypress="($event.charCode == 13)?embalajeIngreso('OK'):return;" ng-model="datosLoteProcesoPaking.detalle[idxTab].embalajePakingBarTab" class="inp-default" type="text" placeholder="Ingresar C&oacute;digo"/>
                        </div>
                    </div>
                    -->
                    <!--<div class="col-xs-6 col-md-6 col-lg-6">
                        <h3>Productor Etiqueta</h3>
                        <select class="inp-default" ng-model="datosLoteProcesoPaking.detalle[idxTab].ZPRODUCTOR_ET" ng-options="item as item.DESCRIPTION for item in listaProductores track by item.VALUE_CHAR">
                            <option value="">Seleccionar</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <h3>Variedad Etiqueta</h3>
                        <div class="box-inp-tabs">
                            <select class="inp-default" ng-model="datosLoteProcesoPaking.detalle[idxTab].ZNARANJA_VARIEDAD_ET" ng-options="itemS as itemS.DESCRIPTION for itemS in variedadOpciones track by itemS.VALUE_CHAR">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7" style="display:none">
                        <div class="mercado-title">Cambiar Mercado</div>
                        <input class="mercado-elegir" ng-model="datosLoteProcesoPaking.detalle[idxTab].selMercadoPakingTab.MAKTG" ng-click="embalajeIngreso('OK')" readonly />
                    </div>
                    <!-- EMBALAJE Y MERCADO -->
                    <div class="clearfix"></div>
                    <div class="border-grey"></div>
                    <div class="clearfix"></div>
                    <!-- LOTE -->
                    <div style="float:left;">
                        <div class="scan" ng-click="codearLote()"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <h3>Lote N&ordm;</h3>
                        <div class="box-inp-tabs">
                            <input id="embalajeLoteTab1" ng-model="datosLoteProcesoPaking.detalle[idxTab].lotePacking" class="inp-default" type="text" placeholder="Ingresar C&oacute;digo" maxlength="10"/>
                        </div>
                    </div>
                    <div class="col-xs3 col-sm-3 col-md-3">
                        <h3>Categoria</h3>
                        <div class="box-inp-tabs">
                            <!--<input id="embalajeLoteTab1" ng-model="datosLoteProcesoPaking.detalle[idxTab].categoria" class="inp-default" type="text" placeholder="Ingresar C&oacute;digo" maxlength="10"/>-->
                            <select class="inp-default" ng-model="datosLoteProcesoPaking.detalle[idxTab].ZCATEGORIA"  ng-options="item as item.DESCRIPTION for item in pakingCategoriaOpciones track by item.VALUE_CHAR">
                                <option value="">Seleccionar</option>
                            </select>
                        </div>
                    </div>
                    <!-- LOTE -->
                    <div class="clearfix"></div>
                    <div class="border-grey"></div>
                    <div class="clearfix"></div>
                    <!-- VARIEDAD -->
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <h3>Variedad</h3>
                        <div class="box-sl-tabs">
                            <SELECT id="selVariedadTab1" class="inp-default inp-tab-variedad" type="text" ng-model="datosLoteProcesoPaking.detalle[idxTab].VARIEDAD"  ng-options="itemS as itemS.DESCRIPTION for itemS in variedadOpciones track by itemS.VALUE_CHAR">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <!-- VARIEDAD -->
                    <!-- CUARTEL -->
                    <!--<div class="col-xs-6 col-sm-3 col-md-2">
                        <h3>Calibre</h3>
                        <div class="box-inp-tabs">
                            <input class="inp-default inp-tab-cuartel" type="number" ng-model="datosLoteProcesoPaking.detalle[idxTab].calibre" placeholder="Calibre" />
                        </div>
                    </div>-->
                    <div class="col-xs-6 col-sm-5 col-md-2">
                            <h3>Color</h3>
                            <select class="inp-default" ng-model="datosLoteProcesoPaking.detalle[idxTab].color"  ng-options="item as item.DESCRIPTION for item in pakingColorOpciones track by item.VALUE_CHAR">
                                <option value="">Seleccionar</option>
                            </select>
                    </div>
                    
                    <div class="col-xs-12 col-sm-4 col-md-3">
                            <h3>Kilos</h3>
                            <input class="inp-default" type="number" placeholder="KILOS" ng-model="datosLoteProcesoPaking.detalle[idxTab].embalajeKilos" ng-change="restaKgTotal(idxTab)"/>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                            <h3>Cantidad Bins</h3>
                            <input class="inp-default" type="number" placeholder="BINS" ng-model="datosLoteProcesoPaking.detalle[idxTab].Bins" ng-change="restaKgTotal(idxTab)"/>
                    </div>
                    <!-- CUARTEL -->
                    <!-- CAJAS
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <h3>Kilos</h3>
                        <div class="box-inp-tabs">
                            <input class="inp-default inp-tab-producto" type="number" ng-change="recalculaPakingKilos()" ng-model="datosLoteProcesoPaking.detalle[idxTab].embalajeCajaPaking"  placeholder="Nº" />
                        </div>
                    </div>
                    <!-- CAJAS -->
                    <!-- KILOS 
                    <div class="col-xs-6 col-sm-3 col-md-2" style="display:{{selKilosDivPakingTab}}">
                        <h3>Cantidad de kilos</h3>
                        <div class="box-inp-tabs">
                            <input onkeypress="return NumCheck(event, this)" class="inp-default" id="embalajeKilosPaking" ng-model="datosLoteProcesoPaking.detalle[idxTab].embalajeKilosPaking" placeholder="Kg" />
                        </div>
                    </div>
                    <!-- KILOS -->
                </div>
                <!--**** ROW ****-->
            </div>
            <!--**********************  TAB POR MATERIAL  **********************-->
            <div class="clear"></div>
            <!--**********************  MENU TABS  **********************-->
            <div class="section-03">
                <div class="tab-menu" id="tabEmbalajesPakingBtn">
                    <div id="btn-more" class="btn-more" ng-click="agregarTab();"></div>
                    <div id="btn_tab_emb_1" class="btn-tab-{{tabs.seleccionado}}" ng-repeat="tabs in selTab" ng-click="irAlTab(tabs.idx)">{{tabs.nombre}}</div>
                    <div id="btn_tab_tra_deshacer_2" class="btn-tab-delete" ng-click="deshacerTab();" style="display:{{verBtnEliminar}}"><div id="btn-more" class="btn-delete"></div></div>
                </div>
            </div>
            <!--**********************  MENU TABS  **********************-->
        </div>
        <!--  TAB CONTAINER  -->
        <!-- /CONTENT -->
        <!-- FOOTER -->
        <div class="footer">
            <!-- inicia BOX MOBILE -->
            <div class="mobile-full">
                <div id="btnContinuar_" class="btn btn-center" ng-click="embalajePakingContinuar()">CONTINUAR</div>
            </div>
            <!-- end BOX MOBILE -->
        </div>
        <!-- /FOOTER -->
    </div>


<div id="PROD_EnvioLotesPaking" class="PopUp" data-role="page" style="display:{{verPopRespuesta}}">
    <div id="envioLotesPakingPOP" class="popup-mercado">
        <!-- CLOSED -->


        <!-- CLOSED -->
        <!-- HEADER POP-UP -->
        <div class="header-popup">
            <h1>Respuesta SAP</h1>
        </div>
        <!-- HEADER POP-UP -->
        <!-- HEADER POP-UP -->
        <div class="img-mercado"></div>
        <!-- CONTENT POP-UP -->
        <!-- inicia BOX MOBILE -->
        <div class="mobile-right mobile-60">
            <!-- AQUI SE CARGARAN LOS MERCADOS -->
            <div id="cargandoPopLotesPaking" class="LoadingMercados">
                <h1>Enviando datos</h1>
                <div id="loadingLotesPaking" class="animarLoading">
                    <ul class="bokeh"><li></li><li></li><li></li><li></li></ul>
                </div>
            </div>
            <!-- AQUI SE CARGA mensaje no encontrado  ercados -->
            <div id="popRespuestaLotesPaking"></div>
        </div>
        <!-- end BOX MOBILE -->

        <div class="clearfix"></div>

        <!-- FOOTER -->
        <div class="footer">
            <!-- inicia BOX MOBILE -->
            <div class="mobile-full">
                <div class="btn btn-center" id="btnContinuar_" style="display:{{btnContinuar}}" ng-Click="recargaStock()">CONTINUAR CON PROCESO</div>
                <div class="btn btn-center" id="btnError" style="display:none" ng-Click="recargaStock()">VOLVER</div>
            </div>
            <!-- end BOX MOBILE -->
        </div>
        <!-- /FOOTER -->
    </div>
</div>


</div>
