<script src="app/menus/crtMenu.js"></script>
<div class="{{page.animation}}" id="MenuInicial" ng-controller="menuBase">
    <div class="box-menu-principal">
            <div class="nav-principal" ng-click="goToPage('/reembalajeEntrada')">
                <div class="icon-mp">
                    <img src="img/icon/mp/recepcion.png" width="80px" />
                </div>
                <h1>Reembalaje Entrada</h1>
            </div>
            <div class="border-bottom"></div>
            <div class="nav-principal" ng-click="Envio_reembalaje_Salida('/menuProceso')">
                <div class="icon-mp">
                    <img src="img/icon/mp/recepcion.png" width="80px" />
                </div>
                <h1>Reembalaje Salida</h1>
            </div>
    </div>
</div>