<script src="app/menus/paletizar/ctrPaletizajeAumentar.js"></script>
﻿<div id="aumentarDigitar" data-role="page" ng-controller="ctrAumentarDigitar">
    <!-- CONTENT -->
    <div class="container">
        <div class="box-menu-packing">
            <div class="menu-packing">
                <img class="img-lote-packing" src="img/barcode.png" ng-click="codearPalet()">
                <p>Pallet <br>Existente</p>
                <br>
                <div class="col-2">
                    <input class="inp-default" type="text" ng-model="numeroPallet" ng-blur="autocompletarCero()" id="numeroPallet" maxlength="20" placeholder="Nº" />
                </div>
            </div>
        </div>
    </div>
    <!-- CONTENT -->
    <!-- FOOTER -->
    <div class="footer">
        <!-- inicia BOX MOBILE -->
        <div class="mobile-full">
            <div class="btn btn-center" ng-click="buscarPallet()">CONTINUAR</div>
        </div>
        <!-- end BOX MOBILE -->
    </div>
    <!-- /FOOTER -->
</div>